::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

div::-webkit-scrollbar-track {
  width: 0;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c3333;
}


* {
  box-sizing: border-box;
}

/* input[type="checkbox"] {
  width: 8%;

  cursor: pointer;
} */
