.App {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  border-left: 1px solid #2c3333;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3333;
}

* {
  box-sizing: border-box;

}
